.u-section-1 .u-sheet-1 {
  min-height: 501px;
}

.u-section-1 .u-form-1 {
  height: 313px;
  width: 570px;
  margin: 118px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: linear-gradient(#478ac9, #db545a);
  letter-spacing: 2px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -63px auto 0;
  padding: 17px 54px 18px 53px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 60px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}